@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.btn-large {
    position: absolute;
    left: 0px;
    @include sans-serif-font;
}

.btn{
    background: #f49f2e;
    border-radius: 0px;
}